.container {
    margin-top: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #343a40;
    color: #fff;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e2e6ea;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn-container button {
    margin-right: 10px;
}

button {
    margin: 5px;
}